<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Vue To Do List</title>
</head>

<body>

    <div id="root" class="container">

            <header>

                <div class="logo">

                    <img src="https://www.boolean.careers/images/misc/logo.png" alt="Boolean Logo">
            
                </div>

                <div class="new_todo">

                    <input type="text" placeholder="Aggiungi una nuova attività" v-model="newElement" @keyup.enter="addElement">

                    <button @click="addElement">Aggiungi</button>

                </div>    

            </header>

            <main>

                <div class="todo_list_container">

                    <ul class="todo_list" v-if="items.length > 0">

                        <li v-for="(item, index) in items">

                            {{item}}

                            <button class="remove" @click="removeElement(item)">

                                <i class="fas fa-times"></i>

                            </button>
                        
                        </li>

                    </ul>

                    <h3 v-else>Non ci sono nuove attività in programma</h3>

                </div>

            </main>

        </div>

    



    <script src="js/script.js"></script>

</body>

</html>